/*

*/

*{
    margin:0;
    padding: 0;
}
/*ELEMENTOS EN EL CENTRO*/
.redesso{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #042C5C;
    padding: 10px;
}
.correo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.correo img {
    width: 24px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 5px; /* Ajusta el espacio entre la imagen y el texto */
}
.redesso .correo{
    margin: 15px;
}

.redesso .redes{
    margin-right: 2.5px;

}
.redesso h2{
    font-family: sans-serif;
    font-size: small;
    color: white;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
/*CAMBIO DE ORDEN*/
.correo {
    order: 1;
}
.redes {
    order: 2; 
}
/*IMÁGENES de la NAV*/
.derecha{
    width: 100px;
    height: 100px;
}
.izquierda{
    width: 100px;
    height: 100px;
}

/*IMÁGENES de redes sociales*/
.redesso img{
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 11.6;
    margin-bottom: 11.6;
}
/*PROPIEDADES DEL NAV*/
.barranav{
    height: 100px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: monospace;
    font-weight: lighter;
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-grow: 1;
}
a:hover{
    background-color: #042C5C;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: ease-in-out;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

a:not(:hover) {
    /* Estilos cuando el cursor no está sobre el enlace */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; /* Transición para background-color y color */
}


.linea {
    width: 1px; 
    height: 20px; 
    background-color: #042c5c; 
    margin: 0 15px; /* Ajusta el margen entre la línea y los elementos del menú */

}


img{
    margin-left: 15px;
}
.barranav {
    display: flex;
}

.nav {
    padding: 10px;
    text-decoration: none;
    color: black;
    position: relative;
    margin: 0 10px;
}
